snowflake-snowpark-python
snowflake-connector-python
joblib==1.2.0
pandas
xgboost==1.7.6
plotly
feature_engine==1.6.0
matplotlib
folium == 0.14.0
streamlit-folium
openrouteservice
pyarrow==10.0.1
numpy
holidays
scikit-learn

altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asn1crypto
asttokens
attrs
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
filelock
fonttools
fqdn
gitdb
GitPython
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
jsonpointer
jsonschema
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lightgbm
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
oscrypto
packaging
pandocfilters
parso
patsy
pickleshare
Pillow
pip
pkgutil_resolve_name
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pycparser
pycryptodomex
pydeck
Pygments
PyJWT
Pympler
pyOpenSSL
pyparsing
pyrsistent
pyspark
python-dateutil
python-json-logger
pytorch-tabnet
pytz
pytz-deprecation-shim
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
rexmex
rfc3339-validator
rfc3986-validator
rich
scipy
seaborn
semver
Send2Trash
setuptools
setuptools-scm
six
smmap
sniffio
soupsieve
stack-data
statsmodels
streamlit
tabulate
tenacity
terminado
threadpoolctl
tinycss2
toml
tomli
toolz
torch
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
wincertstore
zipp
